* {
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .img11, .container .img12, .container .img13, .container .img14, .container .img15, .container .img16, .container .img17, .container .img18 {
  position: absolute;
  left: 2px;
}
.container .img11 img, .container .img12 img, .container .img13 img, .container .img14 img, .container .img15 img, .container .img16 img, .container .img17 img, .container .img18 img {
  width: 30px;
  opacity: 0.5;
}
.container .img12 {
  left: 500px;
}
.container .img12 .two {
  width: 30px;
}
.container .img13 {
  top: 20px;
  left: 1000px;
}
.container .img13 .three {
  width: 40px;
}
.container .img14 {
  top: 600px;
  left: 800px;
}
.container .img15 {
  top: 600px;
  left: 300px;
}
.container .img16 {
  top: 500px;
  left: 1200px;
}
.container .img17 {
  top: 300px;
  left: 1300px;
}
.container .img18 {
  top: 80px;
  transform: translate(-50%, 0);
  left: 50%;
}
.container .img18 img {
  width: 200px;
  opacity: 0.03;
}
.container .innerCont {
  position: relative;
  z-index: 1;
  border: 1.5px dashed rgba(105, 105, 105, 0.249);
  border-radius: 10px;
  padding: 50px 20px;
  margin: 0 10px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='346' height='152' preserveAspectRatio='none' viewBox='0 0 346 152'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3cpath d='M19.9 0C30.59 5.09 29.11 18.1 38 18.1C46.6 18.1 44.63 4.88 54.89 0C63.63 -4.17 65.44 0 76 0C95 0 95 0 114 0C129.41 0 131.23 -3.56 144.82 0C150.23 1.41 148.31 9.94 152 9.94C155.79 9.94 154.18 1.46 159.78 0C173.18 -3.51 174.89 0 190 0C209 0 209 0 228 0C247 0 247 0 266 0C285 0 285 0 304 0C312.97 0 314.05 -3.19 321.94 0C333.05 4.49 332.6 15.36 342 15.36C349.85 15.36 347.47 3.63 356.44 0C366.47 -4.05 375.49 -7.27 380 0C387.27 11.73 380 19 380 38C380 57 380 57 380 76C380 95 380 95 380 114C380 127.12 383.48 128.52 380 140.23C377.83 147.52 375.91 149.77 368.7 152C356.91 155.65 355.35 152 342 152C323 152 323 152 304 152C285 152 285 152 266 152C247 152 247 152 228 152C209.79 152 209.66 152.45 191.58 152C190.66 151.98 190.9 151.23 190 151.05C171.11 147.36 170.09 143.91 152 144.27C146.03 144.39 147.83 150.79 141.87 152C128.83 154.65 127.94 152 114 152C95 152 95 152 76 152C57 152 57 152 38 152C25.34 152 23.93 155.55 12.67 152C4.93 149.56 2.54 147.65 0 140.03C-3.79 128.65 0 127.01 0 114C0 95 0 95 0 76C0 57 0 57 0 38C0 19 -6.53 12.47 0 0C3.42 -6.53 11.59 -3.96 19.9 0' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M76 25.68C70.21 25.68 62.59 30.69 62.59 38C62.59 49.51 70.62 63.33 76 63.33C80.95 63.33 83.24 50.2 83.24 38C83.24 31.38 80.54 25.68 76 25.68' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M228 35.59C226.7 35.59 225.47 36.39 225.47 38C225.47 43.93 226.67 50.67 228 50.67C229.34 50.67 230.81 43.87 230.81 38C230.81 36.33 229.37 35.59 228 35.59' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M114 66.5C100.25 66.5 85.91 71.76 85.91 76C85.91 80.14 100.14 83.26 114 83.26C123.98 83.26 133.58 80.1 133.58 76C133.58 71.72 124.09 66.5 114 66.5' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M266 65.14C252.46 65.14 238.86 67.66 238.86 76C238.86 87.16 252.55 104.15 266 104.15C279.23 104.15 292.21 87.23 292.21 76C292.21 67.72 279.14 65.14 266 65.14' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M98.32 38C85.53 20.31 71.79 10.2 76 0C79.63 -8.8 95 0 114 0C124.13 0 126.65 -4.92 134.27 0C145.65 7.35 142.9 24.55 152 24.55C161.38 24.55 159.37 7.66 171.23 0C178.37 -4.61 180.62 0 190 0C209 0 209 0 228 0C240.67 0 242.7 -4.3 253.33 0C261.7 3.39 258.28 9.25 266 15.38C282.21 28.25 301.19 28.48 301.19 38C301.19 46.58 282.61 51.57 266 51.57C256.22 51.57 257.01 45.03 248.41 38C238.01 29.5 237.98 20.51 228 20.51C218.59 20.51 211.69 27.04 209.63 38C206.48 54.78 210.88 58.52 217.58 76C220.07 82.49 222.91 80.85 228 85.94C241.94 99.85 255.64 99.07 255.64 114C255.64 131.34 244.64 147.11 228 150.48C211.82 153.76 210.5 133.32 190 127.3C172.5 122.16 169.02 122.1 152 128.17C134.4 134.45 136.97 141.83 120.76 152C117.97 153.75 117.38 152 114 152C95 152 95 152 76 152C57 152 57 152 38 152C32.22 152 31.02 155.02 26.43 152C12.02 142.52 9.73 141 0 127.01C-3.48 122 0 120.5 0 114C0 103.44 -2.93 102.54 0 92.89C2.83 83.54 5.53 84.28 11.52 76C24.53 58 24.69 40.33 38 40.33C51.38 40.33 51.13 58.42 64.89 76C70.13 82.7 68.45 86.13 76 88.89C93.01 95.1 95.07 94.39 114 93.93C133.07 93.46 135.33 93.77 152 87.03C157.49 84.81 158.33 81.49 158.33 76C158.33 70.63 157.24 68.09 152 65.31C135.08 56.35 131.51 61.44 114 52.53C104.67 47.78 104.53 46.58 98.32 38' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M319.2 38C319.2 34.47 333.01 41.64 342 35.57C361.13 22.64 358.06 16.27 375.44 0C377.06 -1.52 379.76 -2.04 380 0C382.04 16.96 380 19 380 38C380 49.76 387.09 59.16 380 61.52C368.09 65.49 360.31 57.75 342 50.67C329.91 45.99 319.2 42.02 319.2 38' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M277.21 114C283.26 97.49 289.64 86.31 304 86.31C320.79 86.31 322.26 99.7 339.52 114C341.26 115.44 340.51 117.8 342 117.8C343.86 117.8 343.79 115.46 346.22 114C362.79 104.06 368.67 95 380 95C385.56 95 380 104.5 380 114C380 120.43 383.25 121.73 380 126.85C371.18 140.73 369.45 143 355.86 152C350.45 155.58 348.93 152 342 152C323 152 323 152 304 152C291.97 152 285.12 159.36 279.93 152C271.72 140.36 271.23 130.33 277.21 114' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M113.4 38C104.47 19.09 95.58 13.24 95.79 0C95.88 -5.76 104.9 0 114 0C118.85 0 122.42 -3.86 123.71 0C128.76 15.14 130.31 23.53 126.67 38C125.46 42.81 120.23 38.56 114 38.56C113.6 38.56 113.57 38.37 113.4 38' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M161.5 38C163.24 18.36 170.47 16.26 182.67 0C184.72 -2.74 186.33 0 190 0C209 0 209 0 228 0C231.36 0 234.71 -1.19 234.71 0C234.71 1.53 231.16 2.49 228 5.43C210.71 21.49 200.85 18.66 193.8 38C187.98 53.94 203.37 57.66 202.26 76C201.47 88.92 196.48 100.52 190 100.52C183.32 100.52 181.78 88.82 175.93 76C167.53 57.56 159.87 56.36 161.5 38' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M365.22 38C365.22 31.09 375.75 21.88 380 21.88C383.14 21.88 380 29.94 380 38C380 42.22 382.45 46.44 380 46.44C375.06 46.44 365.22 43.37 365.22 38' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M25.91 76C25.91 67.43 31.92 59.71 38 59.71C44.11 59.71 50.28 67.42 50.28 76C50.28 86.65 44.1 98.17 38 98.17C31.92 98.17 25.91 86.66 25.91 76' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M59.11 114C59.11 108.15 66.94 107.41 76 105.86C94.38 102.72 95.33 102.48 114 104.61C131.05 106.55 147.44 106.81 147.44 114C147.44 122.22 132.25 130.37 114 135.44C96.53 140.29 92.29 140.19 76 133.83C64.84 129.47 59.11 122.13 59.11 114' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M202.29 114C202.29 106.53 216.2 100.55 228 100.55C235.68 100.55 241.24 106.85 241.24 114C241.24 122.31 236.05 131.48 228 131.48C216.58 131.48 202.29 122 202.29 114' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M292.79 114C294.01 106.63 297.99 102.41 304 102.41C311.03 102.41 313.02 106.75 318.87 114C332.02 130.28 330.65 131.62 342 149.47C342.73 150.62 343.03 151.08 343.03 152C343.03 152.35 342.51 152 342 152C323 152 323 152 304 152C299.88 152 296.77 155.37 295.77 152C291.16 136.37 289.9 131.42 292.79 114' stroke='rgba(6%2c 78%2c 53%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='346' height='152' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.container .innerCont .fa-futbol {
  position: absolute;
  top: -30px;
  left: 20px;
  font-size: 30px;
  opacity: 0.2;
}
.container .innerCont .secCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .innerCont .secCont .img2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 25px;
}
.container .innerCont .secCont .img2 img {
  width: 180px;
}
.container .innerCont .secCont .textCont {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  color: dimgray;
  margin-bottom: 50px;
  margin: 0 10px;
}
.container .innerCont .secCont .joinBtn button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  padding: 15px;
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  background-color: #128c7e;
  color: white;
}
.container .innerCont .secCont .joinBtn button:hover {
  background-color: #037d6e;
  scale: 1.1;
}
.container .innerCont .secCont .joinBtn button .fa-arrow-right {
  font-size: 10px;
  padding-left: 5px;
}/*# sourceMappingURL=index.css.map */